<html>
<head>
	<meta charset="utf-8">
	<title>示例</title>
	<link rel="stylesheet" type="text/css" href="../src/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../src/css/common.css">
	<link rel="stylesheet" type="text/css" href="../src/css/demo.css">
	<script type="text/javascript" src="../src/js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../src/js/libs/backbone-min.js"></script>
	<script type="text/javascript" src="../src/js/common.js"></script>
	<script type="text/javascript" src="../src/js/demo.js"></script>
</head>
<body>
<div class="g-head">头部</div>
<div class="g-body">主体</div>
<div class="g-foot">脚</div>
</body>
</html>